---
import Layout from '../layouts/Layout.astro';
import Title from '../components/shared/Title.astro';
import Paragraph from '../components/shared/Paragraph.astro';
import Container from '../components/shared/Container.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="p-2 overflow-hidden m-auto prose dark:prose-invert prose-slate">
    <Title>{frontmatter.title}</Title>
    <Paragraph>
      Publicat de catre {frontmatter.author} la {
        frontmatter.pubDate.slice(0, 10)
      }
    </Paragraph>
    <img src={frontmatter.image.url} width="600" alt={frontmatter.image.alt} />
    <Paragraph><em>{frontmatter.description}</em></Paragraph>
    <slot />
  </main>
</Layout>
